
user nginx;
worker_processes 1;
pid /var/run/nginx.pid;

error_log /proc/self/fd/2 notice;

events {
    worker_connections 1024;
}

http {

    server_tokens off;

    keepalive_timeout 620s;

    include /etc/nginx/mime.types;
    default_type text/plain;

    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

    access_log /proc/self/fd/1 main;

    real_ip_recursive on;
    set_real_ip_from ${LB_IP_ADDR};
    real_ip_header X-Forwarded-For;

    map $http_upgrade $connection_upgrade {
      default upgrade;
      '' close;
    }

    upstream sidecar {
      server 127.0.0.1:3000;
    }

    server {

      server_name   _;
      listen       80;

      location /ws {
          proxy_pass http://sidecar;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection $connection_upgrade;
      }

      location / {
          root /usr/share/nginx/html;
      }
    }
}
